
.BoredButton {
    display: flex; 
    width: 150px; 
    height: 150px; 
    margin: 30px; 
    background-color: rgb(253, 189, 72); 
    font-size: 20px; font-weight: bold; 
    color: rgb(255, 255, 255); 
    justify-content: center; 
    align-items: center; 
    padding: 0; 
    border: none; 
    border-radius: 15px; 
}

.HappyButton {
    display: flex; 
    width: 150px; 
    height: 150px; 
    margin: 30px; 
    background-color: rgb(253, 189, 72); 
    font-size: 20px; font-weight: bold; 
    color: rgb(255, 255, 255); 
    justify-content: center; 
    align-items: center; 
    padding: 0; 
    border: none; 
    border-radius: 15px; 
}

.AngryButton {

    display: flex; 
    width: 150px; 
    height: 150px; 
    margin: 30px; 
    background-color: rgb(253, 189, 72); 
    font-size: 20px; font-weight: bold; 
    color: rgb(255, 255, 255); 
    justify-content: center; 
    align-items: center; 
    padding: 0; 
    border: none; 
    border-radius: 15px; 

}

.SadButton {
    display: flex; 
    width: 150px; 
    height: 150px; 
    margin: 30px; 
    background-color: rgb(253, 189, 72); 
    font-size: 20px; font-weight: bold; 
    color: rgb(255, 255, 255); 
    justify-content: center; 
    align-items: center; 
    padding: 0; 
    border: none; 
    border-radius: 15px; 

}
    
.app { 
    color:  red;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    color: rgba(62, 59, 63, 0.797);  

}


 .buttons { 
    display: flex; 
}
    

